{% extends 'base.html' %}

{% block content %}

<div class="container justify-content-center">
   
    <div class="row mt-4">
        <div class="col-md-12">
            <h4> <i>Bonjour les étudiants de l'ENASTIC(École Nationale Supérieure des Techologies de l'Information et de la Communication) Antenne Amdjarass c'est ici que votre emplois de Cours, Examens, Contrôles,  TP et les Communiqués juste en bas du page Veuillez défiler pour consulter</i></h4>
        </div>       
    </div>

    <br><br>


    <br>
    <div class="row text-center">
        <div class="col-md-12 bg-warning">
            <h2 >La section de consulter les emplois du temps</h2>
        </div>
    </div>
{% for liste in liste %}
    <hr  style="border: 3px solid #204965;">
    <div class="row col-md-12">
   
        <div class="col-md-12 ml-2">
            <div class="card">
                <div class="row ">
                    <div class="col-md-10">
                        <div class="card-header shadow-lg text-center">
                            <h4>emplois du temps du {{liste.date}} année universitaire {{liste.enseignant.anneeScolaire}}</h4>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-header shadow-lg text-center">
                            <h4>{{liste.enseignant.semestre}} </h4>
                        </div>
                    </div>
                    <div class="col-md-8 bg-info">
                        <div class="card-header shadow-lg text-center">
                            <h4>{{liste.enseignant.niveau}} {{liste.status}}</h4>
                        </div>     
                    </div>
                    <div class="col-md-4 bg-info">
                        <div class="card-header shadow-lg text-center">
                            <h4>Salle : {{liste.enseignant.classe}}</h4>
                        </div> 
                    </div>
                </div>
                    
            </div>
            
        </div>
    </div>


    <div class="row justify-content-center">
        
      
        <div class="col-md-12 ">
            <br>
            <div class="card card-body shadow-lg">
                <div class="table-responsive ">
                    <table class="table  bg-white table-ul m-0" id="examp">
                        <thead>
                            <tr>
                                <th>Type d'empolis</th>
                                <th>Matière</th>
                                <th>Enseignant</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                                <tr class="table-bordered">
                                    <td>{{ liste.type_emplois}} </td>                            
                                    <td>{{liste.enseignant.matiere}}</td>                 
                                    <td>{{liste.enseignant}} ({{liste.enseignant.grade}})</td>
                                </tr>                                                                                                                                                                                                                                                                                                                                                                                                                      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
{% endfor %}

    <br><br><br>
    <div class="row text-center">
        <div class="col-md-12 bg-warning">
            <h2 >La section de consulter les notes des évaluations</h2>
        </div>
    </div>
        
    <div class="col-md-12">
        <br>
        <div class="card card-body shadow-lg">
            <div class="table-responsive ">
                <table class="table  bg-white table-ul m-0" id="example">
                    <thead>
                        <tr>
                            <th>Étudiants </th>
                            <th>Matières</th>    
                            <th>Type d'évaluation</th>    
                            <th>Notes</th> 
                                                                                                            
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for note in notes %} 
                            <tr>                                                          
                                <td>{{note.etudiant}} </td>
                                <td>{{note.matiere}}</td>
                                <td>{{note.type_note}}</td>
                                <td>{{note.note}}</td>
                            
                            </tr>                                           
                        {% endfor %}                                                                                                                                                                                                                                                             
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="row text-center">
        <div class="col-md-12 bg-warning">
            <h2 >La section de consulter le communiqué</h2>
        </div>
    </div>
    {% for comment in view_comment %} 
    <div class="col-md-12 ">
        <br>
        <div class="card card-body shadow-lg justify-content-center">
            <div class="table-responsive ">
            

                <h3> date du jour : {{comment.date_du_jour}} année universitaire {{comment.annee_universitaire}}</h3>
                <div class="col">
                    <h4 class="text-warning">Communiquer: <br><i class="text-success">{{comment.commentaire}}</i></h4>
                </div>
               
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}  
</div>
{% endblock %}