{% extends 'basedashboard.html' %}

{% block content %}
<style>
    a{
        text-decoration: none;
    }
    .panel-card{
        margin-bottom: 20px !important;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        position: relative;
        overflow: hidden;
    }
    .panel-card-header{
        padding: 15px;
        position: relative;
        font-family: "Montserrat";
    }
    .row{
        margin: 15px !important;
    }
    .huge{
        font-size: 40PX !important;
        line-height: normal I !important;
        font-weight: bold I !important;
        font-family: "Popins" !important;
    }
</style>
<div class="row m-auto">
    <div class="col-lg-3 col-md-6">
        <div class="panel-card bg-primary">
            <div class="panel-card-header bg-primary-2 text-white">
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <div class="huge">{}
                            550
                        </div>
                        <div class="users">USERS</div>
                    </div>
                    <div class="col text-right mt-0-7">
                        <i class="fas fa-user fa-4x text-white icon"></i>
                    </div>
                </div>
            </div>
            <div class="panel-card-footer bg-primary-dark cl-white text-center">
                <a href="">
                    <span>View details</span>
                    <span><i class="fas fa-arrow-circle-right"></i> </span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}