{% extends 'elements/dashboard.html' %}

{% block body %}
<div class="container">
    <div class="col-md-6 offset-md-3 mt-5 shadow-lg">
        <div class="card shadow-lg justify-content-center ">
           
            <div class="card-body mt-5">
                <form action="" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                                            
                    
                 <center >
                        <h5>Êtes vous sur de supprimer  ce communiqué</h5>
                        <br>
                        <input type="submit" name="submit" value="Supprimer" class="btn btn-md btn-danger mt-2"> 
                        <button type="button" class="btn  btn-secondary mt-2" data-bs-dismiss="modal"><a href="{% url 'students:add_comment' %}" class="text-white">Annuler</a></button>
                    </center>                                      
                </form>                               
                         
            </div>
        </div>    
    </div>
</div>

{% endblock %}