{% extends 'elements/dashboard.html' %}


{% block body %}


<div class="container">
    <div class="row col-md-12">
        <div class="card">
            <div class="card-header shadow-lg text-center">
                <h3>Laissez votre communiqué apartir d'ici </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5  mt-4 jumbotron">
            <div class="card shadow-lg">
                <div class="card-header " >          
                    <h4 class="text-center">Ajouter une communiqué</h4>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                                                
                        {{form.as_p}}
                     <center >
                            <input type="submit" name="submit" value="Enregistrer" class="btn btn-md btn-success mt-2"> 
                            <button type="button" class="btn  btn-secondary mt-2" data-bs-dismiss="modal"><a href="{% url 'students:pageaccueil' %}" class="text-white">Annuler</a></button>
                        </center>                                      
                    </form>                               
                             
                </div>
            </div>    
        </div>
      
        <div class="col-md-7">
            <br>
            <div class="card card-body shadow-lg">
                <div class="table-responsive ">
                    <table class="table  bg-white table-ul m-0" id="examp">
                        <thead>
                            <tr>
                                <th>Date du jour</th>
                                <th>Communiquer</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            {% for liste in view_comment %}
                                <tr>
                                    <td>{{ liste.date_du_jour}} </td>
                                    <td>{{ liste.commentaire}} </td>
                                    <td class="text-center"><a class="btn btn-sm btn-success" href="{% url 'students:update_comment' liste.id %}"><i class="fa fa-edit"></a></td>
                                    <td class="text-center"><a class="btn btn-sm btn-danger" href="{% url 'students:delete_comment' liste.id %}"><i class="fa fa-trash"></a></td>
                                </tr>                                                                                                                                                     
                            {% endfor %}                                           
                                                                                                                                                                                                                                                                                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
		

{% endblock %}