{% extends 'elements/dashboard.html' %}

{% block body %}
    <div class="row mt-2 justify-content-center offset-md-2">
        <form action="" method="post" class="w-100">
            {% csrf_token %}
            <div class="col-md-8">
                {{form}}
            
           
            <br>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <button class="btn btn-block btn-success btn-md" type="submit">Enregistrer</button>
                </div>
                <div class="col-md-5">
                     <a class="btn btn-md btn-block btn-secondary " href="{% url 'students:add_emplois' %}">Annuler</a>
                </div>     
            </div>
        </div>
        </form>
    </div>
{% endblock %}