{% extends 'base.html' %}

{% block content %}
    <div class="row mt-2 justify-content-center">
        <div class="col-md-6 bg-white shadow-lg">
            <form action="" method="post" class="w-100">
                <div class="col-md-12 text-center">
                    <br>
                    <h4 class="text-warning">Bonjour l'enseignant, Veuillez modifier la note ici.</h4>
                </div>
                <br>
                {% csrf_token %}
                {{form}}
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button class="btn btn-block btn-success btn-md" type="submit">Enregistrer</button>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-md btn-block btn-secondary " href="{% url 'students:teacher_add_note' %}">Annuler</a>
                    </div>     
                </div>
            </form>
        </div>
    </div>
{% endblock %}