<div class="col-sm-12 col-xs-12">
            <button class="btn btn-primary mt-1 " id="Btnedit" type="button" data-bs-toggle="modal" data-bs-target="#monModal" style="font-size: 22px; width: 100px;"><i class="fas fa-plus-square"></i> </button>
            <div class="modal fade" id="monModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">Ajouter un département</h4>
                            <button type="button" class="close text-danger p-2" data-bs-dismiss="modal">X</button>
                        </div>
                        <div class="modal-body ">                                 
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                                        
                                    {{form.as_p}}
                                    <center >
                                        <input type="submit" name="submit" value="envoyer" class="btn btn-md btn-success mt-2"> 
                                        <button type="button" class="btn  btn-secondary mt-2" data-bs-dismiss="modal">Annuler</button>
                                    </center>                                      
                                </form>                               
                        </div>                       
                    </div>
                </div>
            </div>   
      
    </div>
</div>


