{% extends 'elements/dashboard.html' %}

{% block body %}

<style>
    .gutters address #image{
   
   height: 150px;
   width: 200px;
   position: relative;
   border-radius: 30%;
}
.gutters #nom_tuteur{
   position: relative;
   color: rgb(181, 239, 241);
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gutters .invoice-body th{
   font-size: 18px;
}
.gutters .invoice-body td{
   font-size: 17px;
}
.gutters .liste{
    position: relative;
    font-weight: 800;
    font-size: 25px;
}
.card{
   
    background-color: rgb(200, 202, 202);
}

</style>
<div class="container ">
    <div class="row gutters">
    	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    		<div class="card bg-gradient shadow-lg">
    			<div class="card-body p-0">
    				<div class="invoice-container">
    					<div class="invoice-header">
                            <!-- Row start -->
                            <div class="card-body shadow-lg">
                                <div class="row gutters">
                                    <div  class="btn col-md-6 ">
                                      <span class="liste"> LISTE DES ETUDIANTS</span>
                                    </div>
                                 
                                    <div class="btn col-md-4 offset-md-2">
                                        <button class="btn btn-secondary  " type="button" data-bs-toggle="modal" data-bs-target="#AddModal" style="font-size: 25px;width: 100%;"><i class="fas fa-plus-square"></i> </button>
                                         <span class="badge text-bg-secondary"></span>
                                    </div>             
                                 </div>
                            </div>
    						
    						<!-- Row end -->
                        </div>
                        <div class="invoice-body">
                            <div class="row gutters">
    							<div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm table-responsive table-hover   text-capitalize  shadow-lg display nowrap" id="example">
                                            <thead  class="bg-primary bg-gradient">
                                                <tr>
                                                    <th>ID Specialité</th>
                                                    <th>Nom Specialité</th>
                                                    <th>Code Specialité</th>
                                                    <th>Filiere Specialité</th>
                                                    <th>Modifier</th>
                                                    <th>Supprimer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in specialite %}
                                                    <tr>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.nom_specialite }}</td>
                                                        <td>{{ item.code_specialite }}</td>
                                                        <td>{{ item.filiere}}</td>
                                                        <td class="text-center"><a class="btn btn-sm btn-success" href="{% url 'students:update_specialite' item.id %}"><i class="fa fa-edit"></a></td>
                                                        <td class="text-center"><a class="btn btn-sm btn-danger" href="{% url 'students:delete_specialite' item.id %}"><i class="fa fa-trash"></a></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="invoice-footer">
                            <div>
                                <ul class="pagination justify-content-center mt-2">
                                    {% if specialite.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{specialite.previous_page_number}}" class="page-link">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                        
                                    <li class="page-item">
                                        <p class="page-link text-muted">page {{specialite.number}} de {{specialite.paginator.num_pages}}</p>
                                    </li>
                        
                                    {% if specialite.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{specialite.next_page_number}}" class="page-link">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      





 <!--ADD Modal-->
 <div class="modal fade" id="AddModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-4">
              <span class="text-center" style="color: rgb(92, 92, 246); font-size: 25px;">Ajouter une specialite</span>
                <button type="button" class="close text-danger p-2 " data-bs-dismiss="modal" style="position: absolute;right: 10px; top: 1rem;font-size: 19px;"><b>X</b></button>
            </div>
            <div class="modal-body ">                                 
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                                            
                    {{form.as_p}}
                    <center >
                        <input type="submit" name="submit" value="envoyer" class="btn btn-md btn-success mt-2"> 
                        <button type="button" class="btn  btn-secondary mt-2" data-bs-dismiss="modal">Annuler</button>
                    </center>                                      
                </form>                               
            </div>                       
        </div>
    </div>
</div> 
					
{% endblock %}

