{% extends 'elements/dashboard.html' %}

{% block body %}

<style>
    .gutters address #image{
   
   height: 150px;
   width: 200px;
   position: relative;
   border-radius: 30%;
}
.gutters #nom_tuteur{
   position: relative;
   color: rgb(181, 239, 241);
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gutters .invoice-body th{
   font-size: 16px;
}
.gutters .invoice-body td{
   font-size: 16px;
}
.gutters .liste{
    position: relative;
    font-weight: 800;
    font-size: 25px;
}
/* .card{
    background-color: rgb(200, 202, 202);
} */

</style>
<div class="container ">
    <div class="row gutters">
    	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    		<div class="card bg-gradient shadow-lg">
    			<div class="card-body p-0">
    				<div class="invoice-container bg-white shadow">
    					<div class="invoice-header ">

                            <!-- Row start -->
                            <div class="row col-md-12">
                                <div class="card ">          
                                    <div class="card-header text-center shadow">
                                        <div class="row ">
                                            <div class="col-md-6 mt-2">
                                                <h3 class="liste "> LISTE DES ETUDIANTS</h3>
                                            </div>
                                            <div class="col-md-4 offset-md-2 ">
                                                <button class="btn btn-info  " type="button" data-bs-toggle="modal" data-bs-target="#AddModal" style="font-size: 25px;width: 100%;"><i class="fas fa-plus-square"></i> </button>
                                                <span class="badge text-bg-secondary"></span>                                 
                                           </div>
                                        </div>
                                    </div>                                                               
                                </div>
                            </div>
    						
    						<!-- Row end -->
                        </div>
                        <div class="invoice-body bg-white shadow-lg">
                            <div class="row gutters bg-white">
    							<div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="table-responsive  bg-white">
                                        <table class="table table-bordered table-condenside  bg-white table-sm table-responsive table-hover   text-capitalize  shadow-lg display nowrap" id="example">
                                            <thead>
                                                <tr>                                                
                                                    <th>ID_etudiant</th>
                                                    <th>Nom </th>
                                                    <th>Prenom</th>
                                                    <th>Sexe</th>
                                                    <th>Filiere</th>
                                                    <th>telephone</th>
                                                    <th></th>
                                                    <th></th>
                                                 
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in student %}
                                                    <tr>
                                                        <td>{{ item.id_etudiant }}</td>
                                                        <td>{{ item.nom }}</td>
                                                        <td>{{ item.prenom }}</td>
                                                        <td>{{ item.sexe }}</td>
                                                        <td>{{ item.filiere }}</td>
                                                        <td>{{ item.telephone }}</td>
                                                        <td class="text-center">
                                                            <a class="btn btn-sm btn-success " href="{% url 'students:student_update' item.id %}"><i class="fa fa-edit"></i></a>
                                                            <a class="btn btn-sm btn-danger " href="{% url 'students:student_delete' item.id %}"><i class="fa fa-trash "></i></a>
                                                        </td>
                                                    
                                                        <td class="text-center">
                                                            <a class="btn btn-sm btn-warning " href="{% url 'students:view_student' item.id %}"><i class="fa fa-eye "></i></a>
                                                            <a class="btn btn-sm btn-success " href="  {% url 'students:generate' item.id %}"><i class="fa fa-cloud "></i></a>
                                                            
                                                        </td>
                                                        
                                                     
                                                      
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="invoice-footer">
                            <div>
                                <ul class="pagination justify-content-center mt-2 p-4">
                                    {% if student.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{student.previous_page_number}}" class="page-link">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                        
                                    <li class="page-item">
                                        <p class="page-link text-muted">page {{ student.number }} de {{ student.paginator.num_pages }}</p>
                                    </li>
                        
                                    {% if student.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ student.next_page_number }}" class="page-link">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>           

<!--ADD Modal-->
<div class="modal fade" id="AddModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-4">
              <span class="text-center" style="color: rgb(92, 92, 246); font-size: 25px;">Ajouter un Etudiant</span>
                <button type="button" class="close text-danger p-2 " data-bs-dismiss="modal" style="position: absolute;right: 10px; top: 1rem;font-size: 19px;"><b>X</b> </button>
            </div>
            <div class="modal-body ">                                 
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                                            
                    {{form.as_p}}
                    <center >
                        <input type="submit" name="submit" value="Enregistrer" class="btn btn-md btn-success mt-2"> 
                        <button type="button" class="btn  btn-secondary mt-2" data-bs-dismiss="modal">Annuler</button>
                    </center>                                      
                </form>                               
            </div>                       
        </div>
    </div>
</div>  
					
{% endblock %}

