{% extends 'elements/dashboard.html' %}

{% block body %}



    <div class="row mt-2 justify-content-center bg-white">
        <div class="col-md-7 shadow-lg">
            <form action="" method="post" class="w-100">
                <div class="col-md-12 text-center">
                    <br>
                    <h4 class="text-primary">Modifier un étudiant</h4>
                </div>
                <br>
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button class="btn btn-block btn-success btn-md" type="submit">Enregistrer</button>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-md btn-block btn-secondary " href="{% url 'students:student' %}">Annuler</a>
                    </div>     
                </div>
            </form>
        </div>
    </div>


{% endblock %}