{% extends 'elements/dashboard.html' %}



        {% block body %}
        <div class="row justify-content-center">
            <div class="col-md-8 shadow-lg">
                <h4 class="text-primary text-center">Créer un compte utilisateur ici.</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}

                    <div class="row">
                        <button class="btn btn-block btn-success btn-md " type="submit">Enregistrer</button>
                        <a class="btn btn-md btn-block btn-secondary mt-2" href="{% url 'students:pageaccueil' %}">Annuler</a>      
                    </div>
                </form>
            </div>  
            
                <div class="col-md-9">
                    <br>
                    <hr>
                    <div class="card card-body shadow-lg">
                        <div class="table-responsive ">
                            <table class="table  bg-white table-ul m-0" id="example">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Rôle admin</th>
                                        <th>Rôle enseignant</th>
                                        <th>Rôle students</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    {% for user in views_user %}
                                        
                                        <tr>
                                            <td>{{ user.username}} </td>
                                            <td>{{ user.email}} </td>
                                            <td class="text-center">{{ user.is_admin}}</td>
                                            <td class="text-center">{{ user.is_teacher}}</td>
                                            <td class="text-center">{{ user.is_student}}</td>
                                            <td class="text-center">
                                                <a class="btn btn-sm btn-success " href="{% url 'compte:admin_update_user' user.id %}"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-sm btn-danger " href="{% url 'compte:admin_delete_user' user.id %}"><i class="fa fa-trash "></i></a>
                                            </td>
                                        </tr>  
                                                                                                                                                                                          
                                    {% endfor %}                                           
                                                                                                                                                                                                                                                                                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
   
    
    {% endblock %}
    
